{% extends "auctions/layout.html" %}

{% block body %}
    {% if user.is_authenticated %} 
        <h2>Categories</h2>
        <div>
            <a class="btn btn-secondary" href="{% url 'categories' %}" role="button">All</a>
            {% for category in categories %}
                {% if category %}
                    {% if category == name %}
                    <a class="btn btn-primary" href="{% url 'category' category %}" role="button">{{category}}</a>
                    {% else %}
                        <a class="btn btn-secondary" href="{% url 'category' category %}" role="button">{{category}}</a>
                    {% endif %}
                {% endif %} 
            {% endfor %}
        </div>
        <div class="container-fluid items">
            {% for listing in listings reversed%}
                <div class="row">
                    {% if listing.img_url.name != "0"  %}
                            <div class="col-md-4">
                                <img src="../../../media/{{listing.img_url}}" alt ="image" class = "images">
                            </div>
                    {% endif %} 
                    <div class="col-md-8 desc">
                        <h3 class="head"><a href="{% url 'listing' listing.id %}">{{listing.title}}</a></h3>
                        <p><strong>Price: </strong>${{listing.price}}</p>
                        <p class="date">{{listing.date}}</p>
                    </div>
                </div>
            {% endfor %}
        </div> 
    {% else %}
            Not signed in.
    {% endif %}
{% endblock %}